/* ------------ОБНУЛЕНИЕ-------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #ffffff;
}

ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* ----------шрифты---------------- */
@font-face {
  font-family: 'Gilroy-300';
  src: url('../fonts/Gilroy-Light300.eot');
  src: url('../fonts/Gilroy-Light300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light300.woff') format('woff'),
    url('../fonts/Gilroy-Light300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-400';
  src: url('../fonts/Gilroy-Regular400.eot');
  src: url('../fonts/Gilroy-Regular400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular400.woff') format('woff'),
    url('../fonts/Gilroy-Regular400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-500';
  src: url('../fonts/Gilroy-Medium500.eot');
  src: url('../fonts/Gilroy-Medium500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium500.woff') format('woff'),
    url('../fonts/Gilroy-Medium500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-700';
  src: url('../fonts/Gilroy-Bold700.eot');
  src: url('../fonts/Gilroy-Bold700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold700.woff') format('woff'),
    url('../fonts/Gilroy-Bold700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* ---------- Общие стили ---------------- */
body {
  background: rgb(242, 248, 248);
  padding: 0;
  margin: 0;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1110px;
  margin: 0px auto;
  padding: 0px 15px;
  height: 100%;
}

section {
  height: 100vh;
  padding: 100px 0px;
  color: rgb(27, 26, 26);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}


/* ---------- header ----------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
  background-color: rgb(159, 70, 241);
  border-bottom-right-radius: 100%;
  transition: all 0.7s ease 0s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.46);
  overflow: hidden;
  z-index: 20;
}

.header.active {
  border-radius: 0;
  width: 3000px;
  height: 3000px;
}

.header__burder {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 22px;
  left: 22px;
  transform: rotate(-180deg);
  transition: all 0.2s ease 0s;
}

.header__burder.active {
  transform: rotate(0deg);
}

.header__burder::after,
.header__burder::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #ffffff;
  left: 0;
  transition: all 0.2s ease 0s;
}

.header__burder::before {
  top: 0;
}

.header__burder::after {
  bottom: 0;
}

.header__burder.active::before {
  transform: rotate(-45deg);
  left: -4px;
  width: 50%;
  top: 7px;
}

.header__burder.active::after {
  transform: rotate(45deg);
  left: -4px;
  width: 50%;
  bottom: 7px;
}


.header__burder span {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 13px;
  background-color: #ffffff;
}

.header__menu {
  opacity: 0;
  transition: all 0.3s ease 0s;
  display: inline-block;
  margin: 100px 0px 0px 50px;
}

.header.active .header__menu {
  opacity: 1;
}

.header__menu li {
  margin: 30px;
}

.header__menu__link {
  font-family: Gilroy-500;
  font-size: 18px;
  text-transform: uppercase;
}

/* -------------- offer --------------- */
.offer .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.offer__title {
  font-family: Gilroy-500;
  letter-spacing: 2px;
  font-size: 40px;
  text-align: right;
  max-width: 500px;
  color: rgb(96, 13, 173);
}

.offer__title span {
  font-size: 55px;
}

/* -------------- tabs --------------- */
.tabs__list {
  font-family: Gilroy-700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.tabs__item {
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  margin: 5px;
}

.tabs__item.active {
  color: #ffffff;
  background: linear-gradient(rgba(96, 13, 173, 1), rgba(176, 100, 247, 1));
}

.tabs__body__item {
  padding: 25px 15px;
  max-width: 400px;
  margin: 0px auto;
  font-family: Gilroy-400;
  border: 4px solid rgba(176, 100, 247, 1);
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4), -3px -3px 6px rgba(0, 0, 0, 0.4);
  display: none;
}

.tabs__body__item.active {
  display: block;
}


.tabs__body__item__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(96, 13, 173, 0.8);
}

.tabs__body__item__head__title {
  margin: 5px;
  line-height: 20px;
}

.tabs__body__item__head__title span {
  font-size: 20px;
  font-family: Gilroy-700;
}

.tabs__body__item__head__img {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(112, 107, 107, 0.8);
  margin: 5px;
}

.tabs__body__item__desc {
  text-align: justify;
  font-size: 18px;
}

/* -------------- accordion --------------- */
.accordeon__content {
  max-width: 600px;
  margin: 0px auto;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4), -3px -3px 6px rgba(0, 0, 0, 0.4);
}

.accordeon__item__head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-family: Gilroy-700;
  transition: all 0.3s ease 0s;
  background: rgba(176, 100, 247, 1);
}

.accordeon__item__head:hover {
  background: rgba(96, 13, 173, 1);
}

.accordeon__item__head__plus {
  width: 23px;
  height: 23px;
  position: relative;
  transition: all 0.3s ease 0s;
}

.accordeon__item__head.active .accordeon__item__head__plus {
  transform: rotate(135deg);
}

.accordeon__item__head__plus::before,
.accordeon__item__head__plus::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  left: 0;
  top: 10px;
}

.accordeon__item__head__plus::before {
  transform: rotate(90deg);
}

.accordeon__item__body {
  font-family: Gilroy-500;
  font-size: 18px;
  border: 1px solid rgba(112, 107, 107, 0.8);
  background-color: rgba(112, 107, 107, 0.1);
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}

.accordeon__item__body.active {
  max-height: 500px;
}

.accordeon__item__body p {
  padding: 10px 20px;
  transform: scale(0.9);
  transition: all 0.5s ease 0s;
}


.accordeon__item__body.active p {
  transform: scale(1);
}

/* -------------- slider --------------- */
.slider {
  position: relative;
}

.slider__item {
  max-height: 470px;
  overflow: hidden;
  max-width: 80%;
  margin: 0px auto;
  border: 5px solid rgba(176, 100, 247, 1);
  border-radius: 20px;
}

.slider__item.hidden {
  display: none;
}

.slider__item img {
  height: 470px;
  object-fit: cover;
  width: 100%;
}

.slider__control__btn {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 60px;
  transition: all 0.3s ease 0s;
}


.slider__control__prew {
  left: 50%;
  transform: translate(-200%, 0px);
  border-top: 25px solid transparent;
  border-right: 50px solid rgba(176, 100, 247, 1);
  border-bottom: 25px solid transparent;
}


.slider__control__next {
  right: 50%;
  transform: translate(200%, 0px);
  border-top: 25px solid transparent;
  border-left: 50px solid rgba(176, 100, 247, 1);
  border-bottom: 25px solid transparent;
}

.slider__control__next:hover {
  border-left: 50px solid rgb(134, 27, 233);
}

.slider__control__prew:hover {
  border-right: 50px solid rgb(134, 27, 233);
}

/*------------------- popup ------------------- */
.popup__content {
  text-align: center;
}

.popup__pointer__text {
  font-size: 25px;
  text-transform: uppercase;
  font-family: Gilroy-700;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(134, 27, 233);
  margin-bottom: 30px;
}

.popup__pointer__arrow {
  position: relative;
  width: 7px;
  height: 50px;
  background: rgb(134, 27, 233);
  display: inline-block;

  animation-name: up-down;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.popup__pointer__arrow::after,
.popup__pointer__arrow::before {
  position: absolute;
  content: '';
  width: 7px;
  height: 25px;
  background: rgb(134, 27, 233);
  bottom: -4px;
}

.popup__pointer__arrow::after {
  right: -7px;
  transform: rotate(45deg);
}

.popup__pointer__arrow::before {
  left: -7px;
  transform: rotate(-45deg);
}

/* popup arrow animation */

@keyframes up-down {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, 30px) scale(1.2);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

/* ----------- */
.popup__btn__open {
  display: inline-block;
  margin: 70px 0px 0px 0px;
  padding: 15px 40px;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(rgba(96, 13, 173, 1), rgba(176, 100, 247, 1));
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4), -3px -3px 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  letter-spacing: 2px;
  font-family: Gilroy-700;
  font-size: 20px;
}

.popup__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  z-index: 30;
  display: none;
}

.popup__overlay.active {
  display: block;
}

.popup__overlay__body {
  position: fixed;
  max-width: 400px;
  min-height: 200px;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  z-index: 31;
  padding: 40px;
  text-align: center;
  color: rgb(27, 26, 26);
  font-family: Gilroy-500;
  font-size: 16px;
  border: 5px solid rgba(176, 100, 247, 1);
  border-radius: 5px;
}

.popup__title {
  font-family: Gilroy-700;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.popup__btn__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  right: 5px;
}

.popup__btn__close::after,
.popup__btn__close::before {
  position: absolute;
  content: '';
  background-color: #141313;
  width: 100%;
  height: 3px;
  left: 0;
}

.popup__btn__close::after {
  top: 13px;
  transform: rotate(45deg);
}

.popup__btn__close::before {
  bottom: 14px;
  transform: rotate(-45deg);
}