@media screen and (max-width: 768px) {
    .num {
        font-size: 25px;
        min-width: 50px;
    }

    .timer__large__item {
        margin: 0px 5px;
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .offer__title {
        font-size: 30px;
    }

    .tabs__list {
        flex-wrap: wrap;
    }

    .slider__item {
        max-width: 90%;
    }

    .slider__item img {
        height: 370px;
    }

    .gallery__item {
        width: 100px;
        height: 100px;
    }
}